<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keji50.portal.dao.mapper.AccountPoMapper">

	<resultMap id="AccountResultMap" type="com.keji50.portal.dao.po.AccountPo">
		<id column="id" property="id" jdbcType="DECIMAL" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="weibo" property="weibo" jdbcType="VARCHAR" />
		<result column="wechat" property="wechat" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="DECIMAL" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<sql id="Account_Column_List">
		id, email, phone, realname, nickname, image, qq, weibo, wechat, status
	</sql>

	<select id="selectById" resultMap="AccountResultMap">
		select <include refid="Account_Column_List" /> from account
		where id = #{id, jdbcType=DECIMAL}
	</select>
	
	<select id="selectByCondition" resultMap="AccountResultMap">
		select <include refid="Account_Column_List" /> from account
		where 1=1
		<if test="phone != null">
			and phone = #{phone, jdbcType=VARCHAR}
		</if>
		<if test="email != null">
			and email = #{email, jdbcType=VARCHAR}
		</if>
	</select>
	
	<insert id="insert" parameterType="com.keji50.portal.dao.po.AccountPo">
		insert into account(
			<if test="phone != null">phone, </if>
			<if test="email != null">email, </if>
			password, create_time, update_time
		) values (
			<if test="phone != null">#{phone, jdbcType=VARCHAR}, </if>
			<if test="email != null">#{email, jdbcType=VARCHAR}, </if>
			#{password, jdbcType=VARCHAR}, now(), now()
		)
		<selectKey resultType="java.lang.Integer" keyProperty="id">
  			select LAST_INSERT_ID() 
  		</selectKey>
	</insert>
	
	<update id="updatePasswordByUsername">
		update account set password = #{password, jdbcType=VARCHAR}
		where 
		<if test="usernameType == 0">
			phone = #{username, jdbcType=VARCHAR}
		</if>
		<if test="usernameType == 1">
			email = #{username, jdbcType=VARCHAR}
		</if>
	</update>
	
	<update id="updatePasswordById">
		update account set password = #{newPassword, jdbcType=VARCHAR}
		where id = #{id, jdbcType=DECIMAL} and password = #{oldPassword, jdbcType=VARCHAR}
	</update>
	
	<select id="count" resultType="java.lang.Integer">
		select count(1) from account 
		where 1=1
		<if test="phone != null">
			and phone = #{phone, jdbcType=VARCHAR}
		</if>
		<if test="email != null">
			and email = #{email, jdbcType=VARCHAR}
		</if>
	</select>

</mapper>